# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints/
*.py[cod]
*$py.class

# C extensions
*.so

inference/
inference_results/
output/
train_data/
log/
*.DS_Store
*.vs
*.user
*~
*.vscode
*.idea

*.log
.clang-format
.clang_format.hook

build/
dist/
paddleocr.egg-info/
/deploy/android_demo/app/OpenCV/
/deploy/android_demo/app/PaddleLite/
/deploy/android_demo/app/.cxx/
/deploy/android_demo/app/cache/
test_tipc/web/models/
test_tipc/web/node_modules/
en_ppocr_mobile_v2.0_table_structure_infer/._inference.pdiparams
en_ppocr_mobile_v2.0_table_structure_infer/._inference.pdiparams.info
en_ppocr_mobile_v2.0_table_structure_infer/._inference.pdmodel
en_ppocr_mobile_v2.0_table_structure_infer/inference.pdiparams
en_ppocr_mobile_v2.0_table_structure_infer/inference.pdiparams.info
en_ppocr_mobile_v2.0_table_structure_infer/inference.pdmodel
ppstructure/layout/en_ppocr_mobile_v2.0_table_det_infer/._inference.pdiparams
ppstructure/layout/en_ppocr_mobile_v2.0_table_det_infer/._inference.pdiparams.info
ppstructure/layout/en_ppocr_mobile_v2.0_table_det_infer/._inference.pdmodel
ppstructure/layout/en_ppocr_mobile_v2.0_table_det_infer/inference.pdiparams
ppstructure/layout/en_ppocr_mobile_v2.0_table_det_infer/inference.pdiparams.info
ppstructure/layout/en_ppocr_mobile_v2.0_table_det_infer/inference.pdmodel
.gitignore
.gitignore
ppstructure/layout/en_ppocr_mobile_v2.0_table_rec_infer/inference.pdiparams
ppstructure/layout/en_ppocr_mobile_v2.0_table_rec_infer/inference.pdiparams.info
ppstructure/layout/en_ppocr_mobile_v2.0_table_rec_infer/inference.pdmodel
ppstructure/layout/picodet_lcnet_x2_5_640_publayernet_shape/infer_cfg.yml
ppstructure/layout/picodet_lcnet_x2_5_640_publayernet_shape/inference.pdiparams
ppstructure/layout/picodet_lcnet_x2_5_640_publayernet_shape/inference.pdiparams.info
ppstructure/layout/picodet_lcnet_x2_5_640_publayernet_shape/inference.pdmodel
.gitignore
ppstructure/layout/table/inference.pdiparams
ppstructure/layout/table/inference.pdiparams.info
ppstructure/layout/table/inference.pdmodel
ppstructure/layout/picodet_lcnet_x2_5_640_publayernet_shape.tar
._en_ppocr_mobile_v2.0_table_structure_infer
en_ppocr_mobile_v2.0_table_structure_infer.tar
