include LICENSE
include README.md

recursive-include src/paddleocr/ppocr/utils *.*
recursive-include src/paddleocr/ppocr/data *.py
recursive-include src/paddleocr/ppocr/postprocess *.py
recursive-include src/paddleocr/tools/infer *.py
recursive-include src/paddleocr/tools __init__.py
recursive-include src/paddleocr/ppocr/utils/e2e_utils *.py
recursive-include src/paddleocr/ppstructure *.py
