shapely
scikit-image
imgaug
pyclipper
lmdb
tqdm
numpy<2.0
rapidfuzz
opencv-python==4.8.0.76
opencv-contrib-python==4.8.0.76
cython
Pillow
pyyaml
requests
lxml
premailer
openpyxl
attrdict
lanms-neo==1.0.2
pdf2image
